page{
    background: #f4f4f4;
}
.brand-info .name{
    width: 100%;
    height: 290px;
    position: relative;
}

.brand-info .img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 290px;
}

.brand-info .info-box{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 290px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-info .info{
    display: block;
}

.brand-info .txt{
    display: block;
    height: 37.5px;
    font-size: 37.5px;
    color: #fff;
}

.brand-info .line{
    margin: 0 auto;
    margin-top: 16px;
    display: block;
    height: 2px;
    width: 145px;
    background: #fff;
}

.brand-info .desc{
    background: #fff;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 41.5px 31.25px;
    font-size: 30px;
    color: #666;
    line-height: 41.5px;
    text-align: center;
}

.cate-item .b{
  width: 750px;
  height: auto;
  overflow: hidden;
  border-top: 1px solid #f4f4f4;
  margin-top: 20px;
}

.cate-item .b .item{
  float: left;
  background: #fff;
  width: 375px;
  padding-bottom: 33.333px;
  border-bottom: 1px solid #f4f4f4;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.cate-item .b .item-b{
 border-right: 1px solid #f4f4f4;
}

.cate-item .item .img{
    margin-top: 10px;
  width: 302px;
  height: 302px;
}

.cate-item .item .name{
  display: block;
  width: 365.625px;
  height: 35px;
  padding: 0 20px;
  overflow: hidden;
  margin: 11.5px 0 22px 0;
  text-align: center;
  font-size: 30px;
  color: #333;
}

.cate-item .item .price{
  display: block;
  width: 365.625px;
  height: 30px;
  text-align: center;
  font-size: 30px;
  color: #b4282d;
}